.skills-list {
  margin: 0 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
}

.skills-list__item {
  list-style: none;
}

@media (min-width: $md) {
  .skills-list {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
  }
}
